{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
  <div class='content'>1</div>
  <div class='content'>2</div>
  <div class='content'>3</div>
  <div class='content'>4</div>
  <div class='content'>5</div>
  <div class='content'>6</div>
  <div class='content'>7</div>
  <div class='content'>8</div>
  <button id='buttonScroll'> <img src='svg/page_up.svg' alt='Page Up' /></button>
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}